@font-face
	font-family 'Quicksand-Light'
	font-style normal
	src url('/fonts/Quicksand-Light.otf')

html, body
	box-sizing border-box
	font-size 16px
	font-family 'Quicksand-Light', Helvetica, Liberation-sans, 'Roboto', 'Franklin Gothic Medium', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif
	background-color #fefefe
	font-weight bolder
	line-height 2