
.content
    width 90%
    margin 0 auto
    text-align center


@media screen and (max-width $md)
    .content
        width 100%    


@media screen and (max-width $sm)
    .content
        margin-left 0
        margin-right 0