
.content
    width 90%
    margin 0 auto
    text-align center
    font-family 'Roboto', 'Franklin Gothic Medium', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif



@media screen and (max-width $md)
    .content
        width 100%    


@media screen and (max-width $sm)
    .content
        margin-left 0
        margin-right 0