.reveal
  animation 0.5s reveal

.reveal-two
  opacity 1
  transition 0.3s ease-in

.hide
  // animation 1.5s reveal reverse
  opacity 0
  transition opacity 0.1s ease-out

@keyframes reveal
  from {
    opacity 0
  } 
  
  to {
    opactiy 1
  }